{% extends "layout.html" %}

{% block content %}
  <div class="jumbotron">
    <h3>Comparison of {{ title1 }} and {{ title2 }} Tweets {{ comparison }}</h3>
    <br>
    <table>
      <tr>
        <th>Show____________________</th>
        <th>Number of Tweets________</th>
        <th>Percentage of Tweets Collected____</th>
      </tr>
      <tr>
        <td>{{ title1 }}</td>
        <td>{{ basic1[0] }}</td>
        <td>{{ (basic1[1] * 100)|float }} %</td>
      </tr>
      <tr>
        <td>{{ title2 }}</td>
        <td>{{ basic2[0] }}</td>
        <td>{{ (basic2[1] * 100)|float }} %</td>
        <td></td>
      </tr>
    </table>
    <br>
    <table>
      <tr>
        <th>Show____________________</th>
        {% for header in comp_full %}
          <th>{{ header }}____</th>
        {% endfor %}
      </tr>
      <tr>
        <td>{{ title1 }}</td>
        {% for cell in data1 %}
          <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      <tr>
        <td>{{ title2 }}</td>
        {% for cell in data2 %}
          <td>{{ cell }}</td>
        {% endfor %}
      </tr>
    </table>
    <br>
    <p><a href="javascript: window.history.back()">Go back</a></p>
  </div>
{% endblock %}
