{% extends "layout.html" %}

{% block content %}
  <div class="jumbotron">
    <h3>Comparison of {{ title1 }} and {{ title2 }} Tweets {{ comparison }}</h3>
    <br>
    <table>
      <tr>
        <th>Show____________________</th>
        <th>{{ comp_full }}</th>
      </tr>
      <tr>
        <td>{{ title1 }}</td>
        <td>{{ data1 }}</td>
      </tr>
      <tr>
        <td>{{ title2 }}</td>
        <td>{{ data2 }}</td>
      </tr>
    </table>
    <br>
    <a href="javascript: window.history.back()">Go back</a>
  </div>
{% endblock %}
