{% extends "layout.html" %}

{% block content %}
  <div class="jumbotron">
    <h3>Comparison of {{ title1 }} and {{ title2 }} Tweets {{ comparison }}</h3>
    <br>
    <table class="notchart">
      <tr>
        <th>Show</th>
        <th>Number of Tweets</th>
        <th>Percentage of Tweets Collected</th>
      </tr>
      <tr>
        <td>{{ title1 }}</td>
        <td class="num">{{ basic1[0] }}</td>
        <td class="num">{{ (basic1[1] * 100)|float }} %</td>
      </tr>
      <tr>
        <td>{{ title2 }}</td>
        <td class="num">{{ basic2[0] }}</td>
        <td class="num">{{ (basic2[1] * 100)|float }} %</td>
      </tr>
    </table>
    <br>
    {% if comparison != 'by Place' %}
      <table class="notchart">
        <tr>
          <th>Show</th>
          {% for header in comp_full %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
        <tr>
          <td>{{ title1 }}</td>
          {% for cell in data1 %}
            <td class="num">{{ cell }}</td>
          {% endfor %}
        </tr>
        <tr>
          <td>{{ title2 }}</td>
          {% for cell in data2 %}
            <td class="num">{{ cell }}</td>
          {% endfor %}
        </tr>
      </table>
    {% else %}
      <br>
      <p>Place comparison coming soon<p>
    {% endif %}
    <br>
    {{ fig_div|safe }}
    <br>
    <p><a href="javascript: window.history.back()">Go back</a></p>
  </div>
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh-0.7.1.min.js"></script>
  {{ fig_js|safe }}
{% endblock %}
